* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 24pt;
}

fieldset {
  border: black solid;
  border-radius: 10px;
}

label {
  font-size: 14pt;
}

legend {
  font-size: 16pt;
  font-weight: bold;
}

input,
select {
  font-size: 14pt;
  border: 2px solid black;
}

body {
  background-color: #264653;
}

main {
  background-color: #2a9d8f;
  border-radius: 10px;
  margin: auto;
  padding: 30px;
  display: grid;
  justify-content: center;
  width: 50%;
}

form {
  width: 100%;
  display: grid;
  justify-content: center;
}

fieldset {
  width: 300px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.8em;
  padding: 1.2em;
}

label {
  order: 1;
}

input,
select {
  order: 2;
}

p {
  order: 3;
  display: none;
  font-weight: bold;
  color: red;
  font-size: 12pt;
}

div {
  display: grid;
}

#submit {
  margin: 10px;
  border-radius: 5px;
}

input:required + label::after {
  content: "*";
  color: red;
}

select:required + label::after {
  content: "*";
  color: red;
}

input:focus {
  outline: none;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error {
  display: grid;
}

a:hover ~ iframe,
iframe:hover {
  display: block;
  position: absolute;
}

iframe {
  display: none;
}

@media (max-width: 400px) {
  body {
    background-color: #2a9d8f;
  }

  main {
    background: none;
  }

  #email-container {
    display: none;
  }
}

#burger {
  height: 15vh;
}

.input-container:nth-of-type(1):after,
div:nth-of-type(2):after {
  background-image: url(../images/noun_person_2005122.svg);
}

.input-container:nth-of-type(3):after {
  background-image: url(../images/noun_phone_1896473.svg);
}

.input-container:nth-of-type(4):after {
  background-image: url(../images/noun_email_4307757.svg);
}

.input-container::after {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  min-height: 20px;
  min-width: 20px;
  margin-top: 25px;
  margin-left: 270px;
}
video {
  width: 560px;
  height: 315px;
}
