body {
    background-color: #264653;
  }

main {
    background-color: #2A9D8F;
    border-radius: 10px;
    margin: auto;
    width: 70%;
    padding: 30px;
}
form {
    width: 100%;
    display: grid;
    justify-content: center;
}
fieldset {
    width: 300px;
    display: grid;
    grid-auto-flow: row;
    grid-gap: .8em;
    padding: 1.2em;
}
label {
    order: 1;
}
input, select {
    order: 2;
}
div {
    display: grid;
}
#submit {
    margin: 10px;
    
}
input:required +label::after {
    content: "*";
    color: red;
}
select:required +label::after {
    content: "*";
    color: red;
}